* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Header */
.header {
    background-color: #f8f8f8;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.header__upper {
    background-color: chocolate;
    color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 30px;
    width: 100%;
}

.header__bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    width: 100%;
}

.header__logo {
    width: 250px;
}

.header__logo-img {
    height: auto;
    width: 100%;
}

.nav {
    display: flex;
    margin-top: 20px;
    width: 80%;
}

.nav__nav {
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
}

.nav__item {
    margin-right: 20px;
}

.nav__link {
    padding: 10px 20px;
    color: chocolate;
    font-size: 16px;
    font-weight: bold;
}

.nav__link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: transparent;
    display: flex;
    margin: 0 20px;
}

.nav__link:hover::after {
    content: '';
    display: flex;
    width: 100%;
    background-color: chocolate;
    transition: ease .5s;
    margin: 0 20px
}

/* Hero */ 
.hero {
    background-image: url('../images/Hero-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100%;
}

/* video */
.video {
    text-align: center;
    margin: -100px 0 20px 0;
    width: 100%;
}

/* footer */
.footer {
    background: #000;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}